<style>
    footer{
        left: 0;
        bottom: 0;
        width: auto;
        height: auto;
        background-color: #686767;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>
<div class="footer-container">
    <footer class="footer">
        <div class="p-2 align-items-center">
            <div class="row">
                <div class="col">
                    <p>Nama saya adalah Rafael siregar tinggal di Medan , ID kegiatan MSIB saya adalah 8773075</p>
                </div>
                <div class="col">
                    Hobi saya adalah :
                    <ul>
                        <li>
                            Ngopi
                        </li>
                        <li>
                            Ngoding
                        </li>
                        <li>
                            Bermain badminton
                        </li>
                    </ul>
                </div>
                <div class="col">
                    Kontak saya :
                    <ul>
                        <li>
                            Email :rafaelsiregar116@gmail.com
                        </li>
                        <li>
                            No HP : 081376666666
                        </li>
                        <li>
                            Instagram : @pael611
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>